<%-
    include("../partials/header.ejs", {"title": fullMapName+" - Map", "ogImage": "http://"+req.headers.host+"/"+ogImage, "description": "View all matches and details for the map "+fullMapName+"."});
%>



<%

function getDisplayHistory(){

    let data = [];

    for(let i = 0; i < 28; i++){

        data.push(0);
    }
    const day = (60 * 60) * 24;


    let d = 0;
    let diff = 0;
    let currentDay = 0;

    const date = new Date();
    const now = date.getTime() / 1000;

    //console.table(mapHistory);

    for(let i = 0; i < mapHistory.length; i++){

        d = mapHistory[i].date;

    //console.log(d);
        diff = now - d;



        currentDay = diff / day;
        currentDay = Math.floor(currentDay);

        //console.log(currentDay+" ("+day+")");

        data[currentDay]++;

    }

    let fixedData = {"title": "Matches", "data": []};

    for(let i = 0; i < data.length; i++){

        fixedData.data.push(data[i]);

    }

    //console.log(fixedData);

    return fixedData;

    
}


function displayRecentMatches(){

  
    if(typeof recentMatches == undefined){
        return;
    }   

    if(recentMatches == 0){
        return;
    }

    %>  

    <div class="default">
        <div class="default-header">Recent Matches</div>    

        <div id="recent-match-test-potato">
            
        </div>

        <script>
            const rmd = new RecentMatchDisplay('recent-match-test-potato',<%- JSON.stringify(maps) %>, <%- JSON.stringify(gametypes) %>, <%- JSON.stringify(mapThumbs) %>, <%- JSON.stringify(mapImages) %>);

            <%
                (() =>{

                    let d = 0;

                    let mapFile = "files/maps/default.jpg";

                    let winnerStuff = "";


                    for(let i = 0; i < recentMatches.length; i++){

                        d = recentMatches[i];

                        winnerStuff = {
                                    "dmWinner":  d.dm_winner,
                                    "red": d.teamscore_0,
                                    "blue": d.teamscore_1,
                                    "green": d.teamscore_2,
                                    "yellow": d.teamscore_3
                                };
                        %>
                            rmd.displayBox(
                                <%- "'"+d.name+"'" %>,
                                <%= d.id %>,
                                <%- "'"+mapFile+"'" %>,
                                <%= d.map %>,
                                <%= d.gametype %>,
                                <%= d.date %>,
                                <%= d.match_playtime %>,
                                <%= d.total_players %>,
                                <%= d.total_teams %>,
                                <%- JSON.stringify(winnerStuff) %>

                            );
                        <%
                    }

                })();
                
            %>
        </script>

    </div>

    <%
}




function displayDetails(){

    let hours = 0;

if(mapDetails[0].total_time != 0){

    hours = mapDetails[0].total_time / (60 * 60);
}

%>
<div class="default">
    <div class="default-header">
        <%=  fullMapName %> summary
    </div>

    <img class="map-main-image" src="<%= ogImage %>" alt="alt"/>
    
</div>

<div class="default">
    <div class="default-header">Map Details</div>

    <table class="default-table single-map">   
        <tr>
            <td>File Name</td>    
            <td><%= mapDetails[0].name %></td>    
        </tr>
        <tr>
            <td>Map Title</td>    
            <td><%= mapDetails[0].title %></td>    
        </tr>
        <tr>
            <td>Map Author</td>    
            <td><%= mapDetails[0].author %></td>    
        </tr>
        <tr>
            <td>Total Matches</td>    
            <td><%= mapDetails[0].matches %></td>    
        </tr>
        <tr>
            <td>Total Playtime</td>    
            <td><%= hours.toFixed(2) %> Hours</td>    
        </tr>
        <tr>
            <td>Longest Match</td>    
            <td class="date-alt"><%= longestMatch[0].match_playtime %></td>    
        </tr>
        <tr>
            <td>Average Match Length</td>    
            <td class="date-alt"><%= mapDetails[0].total_time / results %></td>    
        </tr>
        <tr>
            <td>First Match</td>    
            <td class="date"><%= mapDetails[0].first %></td>    
        </tr>
        <tr>
            <td>Last Match</td>    
            <td class="date"><%= mapDetails[0].last %></td>    
        </tr>

    </table>

</div>

<div class="default">
    <div class="default-header">Map activity last 28 days</div>
    <%
       // displayHistoryGraph();
    %>

    <div id="map-history-graph">
    </div>

    
    <script>
        new SGraph("map-history-graph", 0.4, "rgb(12,12,12)", "Matches played over last 28 days" ,[{"name":"matches","data":[<%- getDisplayHistory().data %>]}], "Total Matches", "Date of match newest first", " Matches played", null);
    </script>
</div>
<%

}


function getBtPlayer(id){

    for(let i = 0; i < btPlayers.length; i++){

        if(btPlayers[i].id == id){
            return btPlayers[i];
        }
    }

    return {"name": "Not Found", "flag": "xx"};
}

function displayBTRecords(){

    if(btRecords.length > 0){

    %>

        <table class="frag-table">
            <tr>  
                <th>Player</th>    
                <th>Date</th>    
                <th>Time</th>    
                <th>Difference</th>    
            </tr>   
            <%

            let difference = "";

            let d = 0;

            let currentPlayer = null;


            for(let i = 0; i < btRecords.length; i++){

                d = btRecords[i];

                currentPlayer = getBtPlayer(d.player_id);

                if(i > 0){
                    difference = (d.time - btRecords[0].time);
                }

                %>
                <tr class="<%= (i == 0)  ? "team-purple" : "team-red" ;%>">

                    <td><a href="/player?id=<%= d.player_id %>"><img src="files/flags/<%= currentPlayer.flag %>.png" alt="flag"> <%= currentPlayer.name %></a></td>    
                    <td class="date"><%= d.date %></td>    
                    <td class="date-alt-3"><%= d.time %></td>    
                    <td class="<%= (i == 0) ? "" : "date-alt-3" %>"><%= difference %></td>    
                </tr> 
                <%

            }
            %>
            
        </table>
    <%
    }

}



        if(gametypes.length > 0){
            displayDetails();
            displayBTRecords();
            displayRecentMatches();
        }else{

            %>
            <div class="default">
                <div class="default-header">
                    <%= mapDetails[0].name   %>
                </div> 
                
                <% 
                
                displayBTRecords();

                %>

                <div style="color:white;font-weight:300;text-align:center;">
                    This map has likely been imported using btimport or mapimport, there will only be limited data displayed until a match log that was played on this map is imported.
                </div>

            </div>
            <%
        }
    %>


<%-
    include("../partials/pagination.ejs", {"url":"/map?id="+req.query.id+"&page=","pages":pages,"page":page,"results":results});
%>

<%-
    include("../partials/footer.ejs");
%>