
<%-
    include("../partials/header.ejs",{"title":"Player Search"});
%>

<%


let bDisplayedData = false;


function getFace(string){

    for(let i = 0; i < faces.length; i++){

        if(faces[i].string == string){
            return faces[i].url;
        }
    }
    return "faceless.png";
}

function displayPlayers(){

    
    if(data.players.length > 0){

        let hours = 0;

        console.table(data.players);

        let playerName = req.query.search;

        if(playerName == undefined){
            playerName = '';
        }

        const nameA = `/players?search=${playerName}&sortType=name&orderType=0`;
        const nameD = `/players?search=${playerName}&sortType=name&orderType=1`;
        const firstA = `/players?search=${playerName}&sortType=first&orderType=0`;
        const firstD = `/players?search=${playerName}&sortType=first&orderType=1`;
        const lastA = `/players?search=${playerName}&sortType=last&orderType=0`;
        const lastD = `/players?search=${playerName}&sortType=last&orderType=1`;
        const scoreA = `/players?search=${playerName}&sortType=score&orderType=0`;
        const scoreD = `/players?search=${playerName}&sortType=score&orderType=1`;

        const killsA = `/players?search=${playerName}&sortType=kills&orderType=0`;
        const killsD = `/players?search=${playerName}&sortType=kills&orderType=1`;

        const deathsA = `/players?search=${playerName}&sortType=deaths&orderType=0`;
        const deathsD = `/players?search=${playerName}&sortType=deaths&orderType=1`;

        const timeA = `/players?search=${playerName}&sortType=playtime&orderType=0`;
        const timeD = `/players?search=${playerName}&sortType=playtime&orderType=1`;

        const mA = `/players?search=${playerName}&sortType=matches&orderType=0`;
        const mD = `/players?search=${playerName}&sortType=matches&orderType=1`;

        bDisplayedData = true;
        %>

     
 
            <table class="default-table">
            <tr>
                <th>Name <a href="<%= nameA %>" class="white">&#8593;</a> <a href="<%= nameD %>" class="white">&#8595;</a></th>
                <th>First Match <a href="<%= firstA %>" class="white">&#8593;</a> <a href="<%= firstD %>" class="white">&#8595;</a></th>
                <th>Last Match <a href="<%= lastA %>" class="white">&#8593;</a> <a href="<%= lastD %>" class="white">&#8595;</a></th>
                <th>Points <a href="<%= scoreA %>" class="white">&#8593;</a> <a href="<%= scoreD %>" class="white">&#8595;</a></th>
                <th>Kills <a href="<%= killsA %>" class="white">&#8593;</a> <a href="<%= killsD %>" class="white">&#8595;</a></th>
                <th>Deaths <a href="<%= deathsA %>" class="white">&#8593;</a> <a href="<%= deathsD %>" class="white">&#8595;</a></th>
                <th>Total Playtime <a href="<%= timeA %>" class="white">&#8593;</a> <a href="<%= timeD %>" class="white">&#8595;</a></th>
                <th>Total Matches <a href="<%= mA %>" class="white">&#8593;</a> <a href="<%= mD %>" class="white">&#8595;</a></th>
            </tr>
           
            
        
        <%

        let d = 0;

        let currentFace = null;

        for(let i = 0; i < data.players.length; i++){

            d = data.players[i];

            hours = 0;

            console.log(d.flag);

            if(d.total_time > 0){
                hours = (d.total_time / (60 * 60)).toFixed(2)
            }

            %>
            <tr>
                <td><a href="/player?id=<%= d.id %>"><img src="files/flags/<%= d.flag %>.png" alt="flag"/> <%= d.name %></a></td>
                <td class="date"><%= d.first_match %></td>
                <td class="date"><%= d.last_match_date %></td>
                <td class="text-center"><%= d.points %> </td>
                <td class="text-center"><%= d.kills %> </tdclass="text-center">
                <td class="text-center"><%= d.deaths %></tdclass="text-center">
                <td class="text-center"><%= hours %> Hours</tdclass="text-center">
                <td class="text-center"><%= d.total_matches %></td class="text-center">
            </tr>
            <%
        }
        %>
        </table>
        <%
    }
}

%>

<div class="default">
<div class="default-header">
            Search for a Player
        </div>
    <form action="/players" class="default-form" method="GET">
        
        
        <input type="text" class="search-f" name="search" value="<%= req.query.search %>" placeholder="Player Name..."/><br>

        <input type="hidden" name="sortType" value="name">
        <input type="hidden" name="orderType" value="0">

        <input type="submit" class="search-b" value="Search"/>
    </form>
</div>
<%

    displayPlayers();

%>

<%

if(!bDisplayedData){
    %>
        <div class="no-data">
            There is nothing to display.
        </div>
    <%
}


let sortType = "name";

if(req.query.sortType != undefined){

    const validSorts = [
        "name",
        "matches",
        "last",
        "playtime"
    ];

    const index = validSorts.indexOf(req.query.sortType.toLowerCase());

    if(index != -1){

        sortType = validSorts[index];
    }

}

let searchName = "";

if(req.query.search != undefined){

    searchName = req.query.search;
}

let orderType = "0";

if(req.query.orderType != undefined){

    orderType = req.query.orderType;

    if(orderType != 1 && orderType != 0){

        orderType = 0;
    }
}
%>


<div class="default">
<%-
    include("../partials/pagination.ejs",
    {
        "page": data.page, 
        "pages": data.pages, 
        "results":data.totalPlayers, 
        "url": "/players?search="+searchName+"&sortType="+sortType+"&orderType="+orderType+"&page="
    });
%>
</div>


<%-
    include("../partials/footer.ejs");
%>