<%-

    include("../partials/header.ejs",{"title": "Recent Matches"});

%>


<%


let bDisplayedData = false;


function getMapName(id){

    id = parseInt(id);

    let d = 0;
    for(let i = 0; i < data.mapNames.length; i++){

        d = data.mapNames[i];

        if(parseInt(d.id) == id){
            return d.name;
        }
    }

    return 'Unknown map';
}


function getGametypeName(id){

    id = parseInt(id);

    let d = 0;
    for(let i = 0; i < data.gametypeNames.length; i++){

        d = data.gametypeNames[i];

        if(parseInt(d.id) == id){
            return d.name;
        }
    }

    return 'Unknown map';
}



function getMatchWinner(data){

    
    winningTeam = parseInt(data.winning_team);
    dmWinner = data.dm_winner;
    totalTeams = parseInt(data.total_teams);
    //dmWinner = parseInt(dmWinner);
    let className = 0;
    let name = "";

    // console.log("dmWinner = "+dmWinner);

    //console.log(winningTeam);

    if(dmWinner == 0){

        if(winningTeam == 0){
            className = "team-red";
            name = "Red Team";
        }else if(winningTeam == 1){
            className = "team-blue";
            name = "Blue Team";
        }else if(winningTeam == 2){
            className = "team-green";
            name = "Green Team";
        }else if(winningTeam == 3){
            className = "team-yellow";
            name = "Yellow Team";
        }else{
            className = "team-grey";
            name = "None Team";
        }


    }else{
        className = "team-grey";
        name = dmWinner;
    }

    //return {"name": name,"className": className};

    if(totalTeams < 2){
        %>
        <div class="solo-test">
            <div class="team-grey"><%= dmWinner %></div>
        </div>
        <%
    }else if(totalTeams == 2){
        %>
        <div class="double-test">
            <div class="team-red"><%= data.teamscore_0 %></div>
            <div class="team-blue"><%= data.teamscore_1 %></div>
        </div>
        <%
    }else if(totalTeams == 3){
        %>
        <div class="tripple-test">
            <div class="team-red"><%= data.teamscore_0 %></div>
            <div class="team-blue"><%= data.teamscore_1 %></div>
            <div class="team-green"><%= data.teamscore_2 %></div>
        </div>
        <%
    }else if(totalTeams == 4){
        %>
        <div class="quad-test">
            <div class="team-red"><%= data.teamscore_0 %></div>
            <div class="team-blue"><%= data.teamscore_1 %></div>
            <div class="team-green"><%= data.teamscore_2 %></div>
            <div class="team-yellow"><%= data.teamscore_3 %></div>
        </div>
        <%
    }


}

function fixMapName(name){

    name = name.toLowerCase();

    const reg = /^.+?\-(.+)$/i;

    if(reg.test(name)){

        const result = reg.exec(name);

        return result[1];
    }

    return name;
}

function getMapImage(name, altName){

    const dir = "files/maps/";
    const thumbDirs = "files/maps/thumbs/";
    const ext = ".jpg";

    name = name+".jpg";
    altName = altName+".jpg";


    //first look for thumbnails
    for(let i = 0; i < mapThumbs.length; i++){

        if(mapThumbs[i] == name || mapThumbs[i] == altName)
            return thumbDirs+mapThumbs[i];        
        
    }

    //if there isn't a thumbnail get a fullsize image if it exists

    for(let i = 0; i < mapImages.length; i++){

        if(mapImages[i] == name || mapImages[i] == altName)
            return dir+mapImages[i];
        
    }

    return 'files/maps/default.jpg';
}


function displayRecentMatches(){

  
    if(typeof data.matches == undefined){
        return;
    }   

    if(data.matches.length == 0){
        return;
    }

    %>  

    <div class="default">
        <div class="default-header">Recent Matches</div>    

        <div id="recent-match-test-potato">
            
        </div>

        <script>
            new RecentMatchDisplay('recent-match-test-potato');    
        </script>

        <%

      
        let mapImage = null;

        for(let i = 99999999; i < data.matches.length; i++){

            d = data.matches[i];

            mapImage = getMapImage(fixMapName(getMapName(d.map)));

            %>
            <div class="home-recent-match-test">
                <div class="home-recent-match-test-server"> <%= d.name %></div>
                <a style="color:white" href="/match?id=<%= d.id %>">
                <div class="home-recent-match-test-inner">
                    
                    <div>
                        
                            <img src="<%= mapImage %>" alt="sshot"/>
                        
                    
                    </div>    
                    <div class="home-recent-match-test-info">
                        
                        <span class="yellow"><%= getMapName(d.map) %>  </span>  <br>
                        <%= getGametypeName(d.gametype) %>    <br>
                        Played <span class="date"><%= d.date %></span> <br>   
                        <span class="yellow">Length <span class="date-alt"><%= d.match_playtime %></span> </span>   <br>
                        Players <%= d.total_players %><br>
                        

                    </div>
                    <div>
                        <%= winner = getMatchWinner(d); %>
                    </div>
                </div>
                </a>
            

            </div>
            <%

        }
        %>
    </div>

    <%
}

%>





<%

displayRecentMatches();
%>

<%

if(data.matches.length == 0){
    %>
        <div class="no-data">
            There is nothing to display.
        </div>
    <%
}
%>


<%


%>

<div class="default">
<%-

    include("../partials/pagination.ejs",{"url":"/recent?page=","page":page,"pages":pages,"results":results});
%>
</div>

<%-

    include("../partials/footer.ejs");
%>