<%-

    include("../partials/header.ejs",{"title": "Recent Matches"});

%>


<%


let bDisplayedData = false;


function displayRecentMatches(){


    //console.table(data.mapNames);
  
    if(typeof data.matches == undefined){
        return;
    }   

    if(data.matches.length == 0){
        return;
    }

    %>  

    <div class="default">
        <div class="default-header">Recent Matches</div>    

        <div id="recent-match-test-potato">
            
        </div>

        <script>
            const rmd = new RecentMatchDisplay('recent-match-test-potato',<%- JSON.stringify(data.mapNames) %>, <%- JSON.stringify(data.gametypeNames) %>, <%- JSON.stringify(mapThumbs) %>, <%- JSON.stringify(mapImages) %>);

            <%
                (() =>{

                    let d = 0;

                    let mapFile = "files/maps/default.jpg";

                    let winnerStuff = "";


                    for(let i = 0; i < data.matches.length; i++){

                        d = data.matches[i];

                        winnerStuff = {
                                    "dmWinner":  d.dm_winner,
                                    "red": d.teamscore_0,
                                    "blue": d.teamscore_1,
                                    "green": d.teamscore_2,
                                    "yellow": d.teamscore_3
                                };
                        %>
                            rmd.displayBox(
                                <%- "'"+d.name+"'" %>,
                                <%= d.id %>,
                                <%- "'"+mapFile+"'" %>,
                                <%= d.map %>,
                                <%= d.gametype %>,
                                <%= d.date %>,
                                <%= d.match_playtime %>,
                                <%= d.total_players %>,
                                <%= d.total_teams %>,
                                <%- JSON.stringify(winnerStuff) %>

                            );
                        <%
                    }

                })();
                
            %>
        </script>

    </div>

    <%
}

%>





<%

displayRecentMatches();
%>

<%

if(data.matches.length == 0){
    %>
        <div class="no-data">
            There is nothing to display.
        </div>
    <%
}
%>


<%


%>

<div class="default">
<%-

    include("../partials/pagination.ejs",{"url":"/recent?page=","page":page,"pages":pages,"results":results});
%>
</div>

<%-

    include("../partials/footer.ejs");
%>